<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzf.authority.dao.AuthInfoMapper" >
  <resultMap id="authInfoResultMap" type="com.lzf.authority.vo.AuthInfo" >
    <id column="auth_id" property="authId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="auth_name" property="authName" jdbcType="VARCHAR" />
    <result column="auth_desc" property="authDesc" jdbcType="VARCHAR" />
    <result column="auth_grade" property="authGrade" jdbcType="INTEGER" />
    <result column="auth_type" property="authType" jdbcType="CHAR" />
    <result column="auth_url" property="authUrl" jdbcType="VARCHAR" />
    <result column="auth_code" property="authCode" jdbcType="VARCHAR" />
    <result column="auth_order" property="authOrder" jdbcType="INTEGER" />
    <result column="auth_state" property="authState" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  	<!-- 全查auth_info -->
  	<select id="queryAllAuthInfo" resultMap="authInfoResultMap">
  		select * from auth_info
  	</select>
  	<!-- 根据auth_name查auth_info -->
  	<select id="queryAuthInfoByAuthName" parameterType="AuthInfo" resultMap="authInfoResultMap">
  		select * from auth_info where auth_name=#{authName}
  	</select>
  	<!-- 根据auth_url查auth_info -->
  	<select id="queryAuthInfoByAuthUrl" parameterType="AuthInfo" resultMap="authInfoResultMap">
  		select * from auth_info where auth_url=#{authUrl}
  	</select>
  	<!-- 根据auth_code查auth_info -->
  	<select id="queryAuthInfoByAuthCode" parameterType="AuthInfo" resultMap="authInfoResultMap">
  		select * from auth_info where auth_code=#{authCode}
  	</select>
  	<!-- 添加auth_info -->
  	<insert id="insertAuthInfo" parameterType="AuthInfo">
  		insert into auth_info(parent_id,auth_name,auth_desc,auth_type,auth_url,auth_code,create_by)
  			values(#{parentId},#{authName},#{authDesc},#{authType},#{authUrl},#{authCode},#{createBy})
  	</insert>
  	<!-- 修改auth_info -->
  	<update id="updateAuthInfo" parameterType="AuthInfo">
  		update auth_info set auth_name=#{authName},auth_desc=#{authDesc},auth_order=#{authOrder},update_by=#{updateBy}
  			where auth_id=#{authId}
  	</update>
  	<!-- 查询auth_info且auth_state=0 -->
  	<select id="queryAuthInfoByAuthStateZero" resultMap="authInfoResultMap">
  		select * from auth_info where auth_state='0'
  	</select>
  	<!-- 恢复权限 -->
  	<update id="startAuthState" parameterType="AuthInfo">
  		update auth_info set auth_state='1' where auth_id=#{authId}
  	</update>
  	<!-- 逻辑删除auth_info -->
  	<update id="stopAuthState" parameterType="AuthInfo">
  		update auth_info set auth_state='0' where auth_id=#{authId}
  	</update>
  	<!-- 根据父id查所有子id -->
  	<select id="querySonIdByAuthId" parameterType="AuthInfo" resultType="String">
  		select group_concat(auth_id) from auth_info where parent_id=#{authId}
  	</select>
  	<!-- 查询user_auth中auth_id的条数 -->
  	<select id="queryUserAuthCountByAuthId" parameterType="AuthInfo" resultType="Integer">
  		select count(auth_id) from user_auth where auth_id=#{authId}  
  	</select>
  	<!-- 查询role_auth中auth_id的条数 -->
  	<select id="queryRoleAuthCountByAuthId" parameterType="AuthInfo" resultType="Integer">
  		select count(auth_id) from role_auth where auth_id=#{authId}  
  	</select>
</mapper>